<h1>Stocking</h1>


<%= form_tag root_path, :method => 'POST' do %>
	<%= text_field_tag 'ticker', nil, placeholder: "Enter Ticker Symbol", size: 50 %>
	<%= submit_tag 'Lookup' %>
<% end %>

<% StockQuote::Stock.new(api_key: "pk_ca940bfed0ed40eb88073d07d2b3e3c2") %>


<% if @stock %>
	<%= @stock.inspect %><br/>
	<%= @stock.company_name %><br/>
	<%= @stock.latest_price %><br/>
<% elsif @nothing %>
	<%= @nothing %>
<% end %>


<% if @error %>
	<%= @error %>
<% end %>